@font-face {
    font-family: 'rubik_regular';
    src: url('/app/media/fonts/Rubik-Regular.ttf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'rubik_medium';
    src: url('/app/media/fonts/Rubik-Medium.ttf') format('opentype');
    font-style: normal;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.nopadding {
    padding: 0 !important;
}

#main-menu {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 21px #e4e4e4;
    background-color: #fff;
}

#main-menu .navbar-brand {
    padding: 0;
    height: 100px;
    position: relative;
    margin-left: 0;
}

#main-menu .dropdown-menu > li > a {
    background-color: white;
}

#main-menu .dropdown-menu > li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#main-menu .dropdown-menu > .active > a,
#main-menu .dropdown-menu > .active > a:hover,
#main-menu .dropdown-menu > .active > a:focus {
    color: #000;
    background-color: white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: none;
}

#yii-debug-toolbar-min img {
    margin-bottom: 0 !important;
}

#easyii-navbar .navbar-nav > li > a {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    color: #B3B8C3;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    line-height: 1.8;
    font-size: 14px;
    text-align: left;
}

.navbar-nav > li > a {
    margin: 28px 0;
}

#easyii-navbar span {
    color: #B3B8C3;
}

#yii-debug-toolbar img {
    margin-bottom: 0 !important;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    height: 70px;
}

.navbar-brand img {
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.affix {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

.navbar-inverse {
    border: none;
}

.navbar-toggle {
    margin-top: 29px;
    border: none;
}

.navbar-inverse .navbar-toggle {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 19px;
    padding: 0;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:focus .caret,
.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li > a:hover .caret {
    color: #000;
}

.navbar-inverse .navbar-nav > li > a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #e9414d;
}

.navbar-inverse .navbar-nav > li > a:hover .caret {
    color: #565454;
}

.navbar-inverse .navbar-nav > li > a:focus {
    outline: none;
    outline-offset: 0;
    overflow: initial;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #000;
}

.tp-caption.custom_theme_big, .tp-caption.custom_theme_very_small {
    color: #000;
}

.btn.btn-default {
    border-radius: 3px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}

.btn.btn-default:hover {
    border: none;
    background-color: #2f2d2d;
    color: #fff;
}

.btn:after {
    display: none;
}

#main-menu {
    min-height: 100px;
}

#main-menu.affix {
    padding-top: 0;
}

.navbar-nav > li.open > .dropdown-menu, .open .dropdown-menu {
    border: none;
    border-radius: 3px;
    top: 110px;
}

.dropdown-menu > li > a {
    color: #000;
}

.dropdown-menu > li > a:hover {
    color: #565454;
}

body {
    font-family: Helvetica, arial, sans-serif;
    font-weight: normal;
    font-family: "rubik_regular";
    font-size: 12px;
    line-height: 1.6em;
    text-transform: none;
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #eee;
    color: #000;
    background-image: none;
    background-position: top left;
    background-size: auto;
    background-attachment: scroll;
    background-repeat: repeat;
}

body, button, input, select, textarea {
    font-family: sans-serif;
    color: #222;
}

body {
    margin: 0;
    font-size: 13px;
    line-height: 1.6em;
}

body #canvas {
    background-color: #eee;
    padding-top: 7px;
}

#canvas {
    max-width: 1200px;
    margin: 0px auto;
    padding: 30px;
}

#mobileNav {
    height: 0;
    overflow: hidden;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

nav ul, nav ol {
    margin: 0;
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

ul, ol, dl {
    font-family: Helvetica, arial, sans-serif;
    font-weight: normal;
    font-family: "rubik_regular";
    font-size: 12px;
    line-height: 1.6em;
    text-transform: none;
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    margin: 1em 0;
}

ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

.layout-style-left .main-nav li {
    float: left;
}

body a, body a:visited {
    color: #111;
}

a {
    color: #0085bd;
    text-decoration: none;
}

#mobileMenuLink {
    display: none;
    margin: 15px 0 0;
}

#header:before, #page:before, #footer:before, footer:before, .meta-row:before, .clear:before, #header:after, #page:after, #footer:after, footer:after, .meta-row:after, .clear:after {
    content: "";
    display: table;
}

#logo, #topNav {
    float: left;
}

.logo-image .logo {
    line-height: 0;
    margin: 0;
    display: inline-block;
    height: 30px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 .5em;
}

h1 {
    font-family: Helvetica, arial, sans-serif;
    font-weight: bold;
    line-height: 1.2em;
    font-size: 22px;
    text-transform: none;
    letter-spacing: 0px;
    font-family: "rubik_regular";
    font-size: 2em;
    line-height: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .06em;
    font-weight: 300;
    font-style: normal;
}

body h1 {
    color: #222;
}

h1 {
    font-family: 'rubik_medium';
    font-weight: normal;
    letter-spacing: 0px;
    font-size: 16px;
}

.logo-image .logo img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

.logo-subtitle {
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: italic;
    line-height: 2em;
    font-size: 13px;
    letter-spacing: 0px;
    font-family: "rubik_regular";
    font-size: 0px;
    line-height: .9em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: -5px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    margin-top: .7em;
    width: 100%;
}

#topNav {
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: italic;
    line-height: 1.6em;
    font-size: 13px;
    text-transform: none;
    letter-spacing: 0px;
    font-family: "rubik_regular";
    font-size: 14px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: normal;
}

#logo, #topNav {
    float: left;
}

#topNav {
    position: relative;
    z-index: 890;
}

.layout-style-left #topNav {
    float: right;
    min-height: 86px;
    display: table;
}

#topNav nav, #topNav ul, #topNav li, #topNav a {
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: italic;
    line-height: 1.6em;
    font-size: 13px;
    text-transform: none;
    letter-spacing: 0px;
    font-family: "rubik_regular";
    font-size: 14px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: normal;
}

#topNav nav {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 7px;
}

#topNav ul, #topNav li {
    text-decoration: none !important;
}

#topNav nav li {
    float: left;
    margin-left: 30px;
    margin-right: 0;
}

.logo-image #topNav nav li a {
    padding: 1px 0;
}

#topNav nav li a {
    line-height: 30px;
}

#topNav nav li a {
    display: inline-block;
    line-height: 28px;
}

body #topNav a {
    color: #000;
}

.logo-image .logo {
    line-height: 0;
    margin: 0;
    display: inline-block;
    height: 80px;
}

body #topNav a:hover {
    color: #888;
}

#page {
    padding: 0;
    opacity: 1;
    position: relative;
}

ul.slider-1 {
    margin: 0;
    padding: 0;
}

.slider-1-wrapper {
    margin-top: 0;
}

.slider-1-wrapper .bx-controls {
    display: none;
}

.slider-1-wrapper .bx-viewport {
    border: 0;
    background: transparent;
}

#footer {
    margin-top: 15px;
}

.hide-social-icons #footerBlock {
    width: 100%;
    float: none;
}

#footerBlock {
    min-height: 29px;
}

.sqs-layout > .sqs-row {
    margin-left: -17px;
    margin-right: -17px;
}

.sqs-row {
    width: auto !important;
}

.sqs-layout > .sqs-row {
    margin-left: -17px;
    margin-right: -17px;
}

.sqs-row {
    width: auto !important;
}

#collection-57e9405af7e0ab608108d9d9 .sqs-block:nth-child(1) {
    padding-bottom: 0 !important;
}

.sqs-layout:not(.sqs-editing) > .sqs-row:first-child > [class*=sqs-col]:first-child > .sqs-block:last-child, .sqs-layout:not(.sqs-editing) .sqs-block + .sqs-row .sqs-block:not(.float):last-child {
    padding-bottom: 27px;
}

.sqs-layout:not(.sqs-editing) .sqs-row .sqs-block:not(.float):not(.sqs-feature-gated-wrapper):first-child {
    padding-top: 0;
}

[class*=sqs-col] .sqs-block {
    padding-left: 17px;
    padding-right: 17px;
}

.sqs-block-html {
    clear: none;
}

.sqs-block {
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    outline: none;
    box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0);
    transition: box-shadow .2s ease-in-out;
}

.sqs-block-html .sqs-block-content {
    outline: none;
}

.sqs-block-html .sqs-block-content > *:last-child {
    margin-bottom: 0;
}

.sqs-block-html .sqs-block-content > *:first-child {
    margin-top: 0;
}

.sqs-block-html .sqs-block-content *:not(h1):not(h2):not(h3) {
    word-wrap: break-word;
}

.sqs-block-content p, .sqs-block-content span {
    font-family: 'rubik_regular';
    font-weight: normal;
    color: #000;
    font-size: 13px !important;
}

.text-align-right {
    text-align: right;
}

#footer #block-179f8c9da7aa428c1198 a:nth-child(1) {
    text-transform: lowercase;
}

#footer #block-179f8c9da7aa428c1198 a {
    margin-right: 30px;
}

.sqs-block-html .sqs-block-content *:not(h1):not(h2):not(h3) {
    word-wrap: break-word;
}

#footer #block-179f8c9da7aa428c1198 a:nth-child(2) {
    margin-right: 0 !important;
}

.margin-wrapper {
    margin-right: 0px;
    margin-bottom: 0px;
    position: relative;
}

.sqs-gallery-block-grid .slide .margin-wrapper {
    position: relative;
}

.image-slide-hover-effect:hover {
    opacity: .6;
    transition: all 1s;
    -webkit-transition: all 1s;
    cursor: pointer;
}

.sqs-block-content p, .sqs-block-content span {
    font-family: 'rubik_regular';
    font-weight: normal;
    color: #000;
    font-size: 13px !important;
}

.image-slide-hover-effect {
    position: absolute;
    background: rgba(0, 0, 0, .6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    z-index: 100;
}

.sqs-gallery-block-grid .slide .margin-wrapper a.image-slide-anchor {
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    display: block;
    cursor: default;
    border-bottom: none;
}

.sqs-gallery-block-grid .slide .margin-wrapper a.image-slide-anchor[href] img {
    cursor: pointer;
}

.sqs-gallery-block-grid .slide .margin-wrapper a.image-slide-anchor img {
    display: inline-block;
}

.margin-wrapper .image-slide-title {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 20px;
    margin-bottom: auto;
    font-family: 'rubik_regular';
    font-weight: normal;
    color: #fff;
    letter-spacing: 0;
    z-index: 1000;
    height: 19px;
}

.margin-wrapper .image-slide-title {
    display: block;
    text-align: right;
    font-size: 20px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sqs-gallery.sqs-gallery-design-grid {
    overflow: hidden;
}

.sqs-col-6 {
    width: 50%;
    float: left;
}

.sqs-block-html .sqs-block-content > *:last-child {
    margin-bottom: 0;
}

.sqs-block-html .sqs-block-content > *:first-child {
    margin-top: 0;
}

[class*=sqs-col]:last-child {
    padding-right: 0;
}

.sqs-col-12 {
    width: 100%;
}

.sqs-block-image .image-block-outer-wrapper:not(.image-block-v2) .intrinsic .image-block-wrapper img {
    padding: 17px;
}

#page-57ebea79f7e0abae9fb77471 {
    margin-top: 0;
}

.sqs-gallery-block-grid.sqs-gallery-thumbnails-per-row-3 .sqs-gallery-design-grid-slide:nth-child(3n + 1) {
    clear: left;
}

#projectThumbs .project:nth-child(3n+2) {
    margin-right: 16px;
    margin-left: 16px;
}

.sqs-gallery-block-grid.sqs-gallery-thumbnails-per-row-3 .sqs-gallery-design-grid-slide {
    width: calc(33.333% - 11px);
}

.sqs-gallery-block-grid .slide {
    float: left;
    width: 25%;
}

.sqs-gallery-block-grid .slide .margin-wrapper a.image-slide-anchor {
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    display: block;
    cursor: default;
    border-bottom: none;
}

.sqs-gallery-block-grid.sqs-gallery-aspect-ratio-standard .slide .margin-wrapper a.image-slide-anchor,
.sqs-gallery-block-grid.sqs-gallery-aspect-ratio-standard .slide .margin-wrapper .content-wrapper,
.sqs-gallery-block-grid.sqs-gallery-aspect-ratio-standard .slide .margin-wrapper .content-wrapper.content-fill .sqs-video-wrapper {
    padding-bottom: 66.666%;
}

#block-yui_3_17_2_3_1475232616143_10284 {
    padding-bottom: 0 !important;
}

#block-yui_3_17_2_3_1475232616143_10284 .sqs-gallery-block-grid .sqs-gallery-design-grid {
    margin-bottom: 4px;
}

#block-yui_3_17_2_3_1475232616143_10284 #yui_3_17_2_1_1537363311129_129 .slide.sqs-gallery-design-grid-slide.sqs-active-slide {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 16px;
}

#block-yui_3_17_2_3_1475232616143_10284 #yui_3_17_2_1_1537363311129_129 .slide.sqs-gallery-design-grid-slide.sqs-active-slide:nth-child(3n + 2) {
    margin-right: 16px;
    margin-left: 16px;
}

#projectThumbs {
    clear: both;
}

.thumbnail-layout-autocolumns #projectThumbs > .wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
    margin-bottom: 40px;
}

.thumbnail-layout-autocolumns #projectThumbs .project {
    overflow: hidden;
}

#projectThumbs .project:nth-child(3n+1) {
    clear: left;
}

#projectThumbs .project {
    float: left;
    width: calc(33.333% - 11px);
    cursor: pointer;
    -webkit-transform: translatez(0);
    margin-bottom: 16px;
}

.index-thumb-title-position-overlay #projectThumbs .project .project-image {
    margin-bottom: 0;
}

.thumbnail-layout-autocolumns #projectThumbs .project .project-image .intrinsic {
    height: auto;
    padding-bottom: 0;
}

#projectThumbs .project .project-image .intrinsic {
    opacity: 1;
    -webkit-transition: opacity .14s ease-out;
    transition: opacity .14s ease-out;
}

#projectThumbs .project .project-image .intrinsic {
    padding-bottom: 100%;
    line-height: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#projectThumbs .project .project-image .content-fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.thumbnail-layout-autocolumns #projectThumbs .project .project-image .content-fill {
    position: static;
}

.thumbnail-layout-autocolumns #projectThumbs .project .project-image img {
    display: block;
    top: 0 !important;
    margin-bottom: 0;
}

img[data-src] {
    opacity: 1;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

.sqs-gallery-design-autocolumns-slide img {
    width: 100%;
    display: inline-block;
    transition: opacity .2s;
    opacity: 1;
}

#projectThumbs .project .project-item-count {
    display: none;
}

.index-thumb-title-position-overlay #projectThumbs .project .project-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0 10px;
}

#projectThumbs .project .project-title {
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
    text-transform: none;
    letter-spacing: 0px;
    font-family: "futura-pt";
    font-size: 14px;
    line-height: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .06em;
    text-align: center;
    font-weight: 300;
    font-style: normal;
    color: #000;
}

#projectThumbs .project .project-image {
    background: #000;
}

.index-thumb-title-position-overlay #projectThumbs .project:hover .project-title {
    font-family: 'rubik_medium';
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0px;
}

#projectPages .project-controls {
    display: none;
}

#yui_3_17_2_1_1537367486882_130 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#projectThumbs .project:hover .project-image .intrinsic {
    opacity: .5;
}

.page-open #projectPages .project-controls {
    display: block;
    clear: both;
    margin-top: 15px;
    margin-bottom: 30px;
}

.page-open #projectPages .project-controls #projectNav {
    float: right;
}

.page-open #projectPages .project-controls #projectNav > span {
    cursor: pointer;
    color: #000;
}

.sqs-gallery-block-grid.sqs-gallery-thumbnails-per-row-1 .sqs-gallery-design-grid-slide:nth-child(1n + 1) {
    clear: left;
}

.sqs-gallery-block-grid.sqs-gallery-thumbnails-per-row-1 .sqs-gallery-design-grid-slide {
    width: 100% !important;
}

.project.page-project.active-project {
    margin-top: 0;
}

#projectPages .row.sqs-row.project-title-text {
    margin: 0;
}

.page-open .sqs-layout:not(.sqs-editing) > .sqs-row:first-child > [class*=sqs-col]:first-child > .sqs-block:last-child,
.page-open .sqs-layout:not(.sqs-editing) .sqs-block + .sqs-row .sqs-block:not(.float):last-child {
    padding-bottom: 0;
}

#block-0a2bdb018cc112129714 .sqs-gallery-block-grid .sqs-gallery-design-grid-slide .margin-wrapper {
    margin-bottom: 16px;
}

#projectPages .sqs-gallery-block-grid .slide .margin-wrapper a.image-slide-anchor img {
    max-width: 1140px;
    width: 100%;
}

.sqs-col-5 {
    width: 41.6667%;
    float: left;
}

.sqs-col-7 {
    width: 58.3333%;
    float: left;
}

.form-wrapper .field-list {
    line-height: normal;
}

.form-wrapper .field-list .fields {
    margin: 0 0 0 -2%;
}

.form-wrapper .field-list fieldset, .form-wrapper .field-list legend {
    margin: 0;
    padding: 0;
    border: 0;
}

.form-wrapper .field-list .fields .title,
.form-wrapper .field-list .fields .description,
.form-wrapper .field-list .fields .field,
.form-wrapper .field-list .fields .field-error {
    margin-left: 2%;
}

.form-wrapper .field-list .title {
    display: block;
    margin-bottom: 0;
    font-weight: normal;
}

.sqs-block-content p, .sqs-block-content span {
    font-family: 'rubik_regular';
    font-weight: normal;
    color: #000;
    font-size: 13px !important;
}

.form-wrapper .field-list {
    line-height: normal;
}

.form-wrapper .field-list .field .caption {
    font-size: 12px;
    width: 100%;
    font-weight: normal;
}

label {
    cursor: pointer;
}

.form-wrapper .field-list .field .caption .field-element {
    font-size: 14px;
}

.form-wrapper .field-list .field .field-element {
    width: 100%;
    padding: 12px;
    margin: 6px 0;
    border: 1px solid #ccc;
    background: #fafafa;
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
}

.form-wrapper .field-list .fields.name .field {
    width: 48%;
}

.form-wrapper .field-list .fields .field {
    float: left;
}

.form-wrapper .field-list .field {
    position: relative;
    margin: 0 0 24px;
}

.form-wrapper .form-button-wrapper--align-right {
    text-align: right;
}

body:not(.button-style-default).button-corner-style-square .sqs-editable-button, body:not(.button-style-default).button-corner-style-square .sqs-editable-button-shape {
    border-radius: 0;
}

body:not(.button-style-default).button-style-solid .sqs-editable-button, body:not(.button-style-default).button-style-solid .sqs-editable-button-style {
    -webkit-transition: .1s opacity linear;
    -moz-transition: .1s opacity linear;
    -o-transition: .1s opacity linear;
    transition: .1s opacity linear;
    -webkit-backface-visibility: hidden;
}

body:not(.button-style-default) .sqs-editable-button, body:not(.button-style-default) .sqs-editable-button-font {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-family: "rubik_regular";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: normal;
}

body:not(.button-style-default) .sqs-editable-button, body:not(.button-style-default) .sqs-editable-button-color {
    color: #fff;
    background-color: #272727;
    border-color: #272727;
}

body:not(.button-style-default) .sqs-editable-button, body:not(.button-style-default) .sqs-editable-button-layout {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 1em 2.5em;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-wrapper input[type=submit] {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 1em 2.5em;
    color: #fff;
    background-color: #272727;
    border-width: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1em;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    text-transform: none;
}

.form-wrapper .field-list legend {
    display: none;
}

.form-wrapper .field-list fieldset, .form-wrapper .field-list legend {
    margin: 0;
    padding: 0;
    border: 0;
}

#map-canvas {
    height: 455px;
}

.span-7.map {
    padding-left: 17px;
    padding-right: 17px;
}

.mt-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

body:not(.button-style-default).button-style-solid .sqs-editable-button:hover,
body:not(.button-style-default).button-style-solid .sqs-editable-button-style:hover {
    opacity: .8;
}

.form-wrapper .field-list .field .field-element:focus {
    background: #fff;
    -webkit-transition: background .1s ease-in;
    -moz-transition: background .1s ease-in;
    -o-transition: background .1s ease-in;
    transition: background .1s ease-in;
    outline: none;
}

body a:hover {
    color: #888 !important;
}

#yui_3_17_2_1_1537360338988_91 img {
    padding-bottom: 0 !important;
}

#textarea-yui_3_17_2_3_1475078484425_4663-field {
    margin-top: 6px;
    margin-bottom: 4px;
    height: 170px;
    max-width: 650px;
}

#block-b07dc257fa287274d6a1 .form-group {
    margin-bottom: 0;
}

#block-bfb13ef0e08649565468 {
    padding-bottom: 0;
}

#block-bfb13ef0e08649565468 p {
    margin-bottom: 0;
    text-transform: none;
    line-height: 19px;
}

#block-586e494d601611b6f93e {
    text-align: justify;
}

#block-586e494d601611b6f93e p {
    margin-bottom: 15px;
}

#block-yui_3_17_2_2_1475231568899_20713 {
    padding-bottom: 0;
    margin-top: 10px;
}

#block-yui_3_17_2_2_1475231568899_20713 img {
    margin-bottom: 0;
}

#block-bfb13ef0e08649565468 h1 p:last-child {
    margin-bottom: 5px;
}

@media only screen and (max-width: 750px) {
    .margin-wrapper .image-slide-title {
        text-align: left;
        left: 30px;
    }

    #block-yui_3_17_2_2_1475231568899_20713 {
        margin-bottom: 10px;
    }

    .sqs-gallery.sqs-gallery-design-grid {
        overflow: hidden;
        margin-top: -10px;
    }

    .page-open #projectPages .project-controls {
        margin-top: 0;
    }

    #yui_3_17_2_1_1537367486882_130 {
        margin-top: 15px !important;
        margin-bottom: 10px !important;
    }

    #projectThumbs .project {
        width: 100%;
        margin-bottom: 10px;
    }

    #projectThumbs .project:nth-child(3n+2) {
        margin-right: 0;
        margin-left: 0;
    }

    #yui_3_17_2_1_1537363311129_129 {
        margin-top: 0;
    }

    .logo-image .logo {
        height: 30px;
    }

    h1.logo {
        text-align: center !important;
        display: block !important;
        letter-spacing: 0 !important;
        margin: 0 !important;
    }

    .has-primary-nav #canvas {
        padding-top: 10px;
    }

    #canvas {
        padding: 20px 10px;
        overflow: hidden;
    }

    #mobileNav {
        background: #eee;
        margin: 0 0 15px;
    }

    #mobileNav .wrapper {
        padding: 0 0 1em;
        border-bottom: 1px solid #fff;
    }

    #mobileNav .wrapper {
        padding: 13px 0 8px;
    }

    #mobileNav nav ul li, #mobileNav .folder-toggle-label {
        display: block;
        text-align: center;
        float: none !important;
    }

    #mobileNav a, #mobileNav .folder-toggle-label {
        font-family: Georgia, serif;
        font-weight: normal;
        font-style: italic;
        line-height: 1.6em;
        font-size: 13px;
        text-transform: none;
        letter-spacing: 0px;
        font-family: "rubik_regular";
        font-size: 14px;
        line-height: 1.2em;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: 300;
        font-style: normal;
        color: rgba(0, 0, 0, .7);
        font-size: 16px;
        line-height: 2.5em;
        display: block;
        text-align: center;
    }

    #mobileMenuLink {
        margin: 0 0 25px;
        display: block;
        font-family: Georgia, serif;
        font-weight: normal;
        font-style: italic;
        line-height: 1.6em;
        font-size: 13px;
        text-transform: none;
        letter-spacing: 0px;
        font-family: "rubik_regular";
        font-size: 14px;
        line-height: 1.2em;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: 300;
        font-style: normal;
        padding: 0 0 15px;
        background-color: #eee;
        text-align: center;
        border-bottom: 1px solid #fff;
    }

    #block-0a2bdb018cc112129714 {
        padding-top: 10px;
    }

    .page-borders-none #mobileMenuLink {
        border-bottom: 0px solid #fff;
    }

    #mobileMenuLink {
        margin-bottom: 5px !important;
    }

    #mobileMenuLink a {
        cursor: pointer;
        display: block;
        margin: 0;
        font-size: 16px !important;
        color: #000;
    }

    #header {
        margin-bottom: 10px !important;
    }

    #logo {
        float: none !important;
    }

    .slider-1-wrapper {
        margin-top: 10px;
    }

    .logo-image .logo {
        height: 80px;
    }

    .logo-image .logo img {
        display: inline;
    }

    #header #topNav {
        display: none;
    }

    .sqs-layout [class*=sqs-col] {
        float: none !important;
        width: auto !important;
    }

    #footer .sqs-block.html-block.sqs-block-html {
        padding-bottom: 17px !important;
    }

    #footer .text-align-right {
        font-size: 10px !important;
        text-align: center;
    }

    #block-yui_3_17_2_3_1475232616143_10284 .sqs-gallery-design-grid-slide {
        width: 100% !important;
        clear: none !important;
    }

    #block-yui_3_17_2_3_1475232616143_10284 #yui_3_17_2_1_1537363311129_129 .slide.sqs-gallery-design-grid-slide.sqs-active-slide:nth-child(3n + 2) {
        margin-right: 0;
        margin-left: 0;
    }

    #footer {
        margin-top: 22px;
    }

    .sqs-layout [class*=sqs-col] {
        float: none !important;
        width: auto !important;
    }

    .sqs-layout .sqs-row .sqs-block:last-child {
        padding-bottom: 17px !important;
    }

    .sqs-layout .sqs-row .sqs-block:first-child {
        padding-top: 0;
    }

    #projectPages .sqs-gallery.sqs-gallery-design-grid {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .page-open #projectPages .project-controls {
        margin-bottom: 30px;
    }

    .sqs-gallery-block-grid.sqs-gallery-thumbnails-per-row-3 .sqs-gallery-design-grid-slide {
        width: 100%;
    }

    #block-yui_3_17_2_3_1475232616143_10284 {
        padding-top: 0;
    }

    #block-yui_3_17_2_3_1475232616143_10284 #yui_3_17_2_1_1537363311129_129 .slide.sqs-gallery-design-grid-slide.sqs-active-slide {
        margin-bottom: 10px;
    }

    #yui_3_17_2_1_1537360338988_91 img {
        padding-bottom: 10px !important;
    }

    #page-57ebea79f7e0abae9fb77471 {
        margin-top: 10px !important;
    }
}

@media (max-width: 1199px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 992px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
    .navbar-inverse {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #302f31;
        background-color: transparent;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .navbar-brand img {
        padding-left: 15px;
    }

    .container > .navbar-header {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .navbar-inverse .navbar-nav > li > a {
        display: block;
        text-align: center;
    }

    .navbar-nav > li > a {
        margin: 0;
        display: inline-block;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #000;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        margin-top: 0;
    }

    .navbar-brand img {
        height: 30px;
    }

    #block-0a2bdb018cc112129714 .sqs-gallery-block-grid .sqs-gallery-design-grid-slide .margin-wrapper {
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .navbar-inverse .navbar-nav li:last-child a {
        padding-right: 0;
    }

    .dropdown-menu:before {
        top: -10px;
    }

    .navbar-inverse .navbar-nav li.last.active:before {
        position: absolute;
        right: -15px;
        left: 0;
    }

    .navbar-inverse .navbar-nav li.last.active:after {
        position: absolute;
        right: -15px;
        left: 0;
    }
}

@media (max-width: 636px) {
}

@media (min-width: 637px) {
}

@media (max-width: 624px) {
}

::-moz-selection {
    color: #fff;
    background: rgb(48, 48, 48);
}

::selection {
    color: #fff;
    background: rgb(48, 48, 48);
}