@font-face {
    font-family: 'rubik_regular';
    src: url('/app/media/fonts/Rubik-Regular.ttf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'rubik_medium';
    src: url('/app/media/fonts/Rubik-Medium.ttf') format('opentype');
    font-style: normal;
}

body {
    color: #000;
    font-family: 'rubik_regular';
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #000;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.nopadding {
    padding: 0 !important;
}

#main-menu {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 21px #e4e4e4;
    background-color: #fff;
}

#main-menu .navbar-brand {
    padding: 0;
    height: 100px;
    position: relative;
    margin-left: 0;
}

#main-menu .dropdown-menu > li > a {
    background-color: white;
}

#main-menu .dropdown-menu > li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#main-menu .dropdown-menu > .active > a,
#main-menu .dropdown-menu > .active > a:hover,
#main-menu .dropdown-menu > .active > a:focus {
    color: #000;
    background-color: white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: none;
}

#yii-debug-toolbar-min img {
    margin-bottom: 0 !important;
}

#easyii-navbar .navbar-nav > li > a {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    color: #B3B8C3;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    line-height: 1.8;
    font-size: 14px;
    text-align: left;
}

.navbar-nav > li > a {
    margin: 28px 0;
}

#easyii-navbar span {
    color: #B3B8C3;
}

#yii-debug-toolbar img {
    margin-bottom: 0 !important;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    height: 70px;
}

.navbar-brand img {
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.affix {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

.navbar-inverse {
    border: none;
}

.navbar-toggle {
    margin-top: 29px;
    border: none;
}

.navbar-inverse .navbar-toggle {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 19px;
    padding: 0;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:focus .caret,
.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li > a:hover .caret {
    color: #000;
}

.navbar-inverse .navbar-nav > li > a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #e9414d;
}

.navbar-inverse .navbar-nav > li > a:hover .caret {
    color: #565454;
}

.navbar-inverse .navbar-nav > li > a:focus {
    outline: none;
    outline-offset: 0;
    overflow: initial;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #000;
}

.tp-caption.custom_theme_big, .tp-caption.custom_theme_very_small {
    color: #000;
}

.btn.btn-default {
    border-radius: 3px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}

.btn.btn-default:hover {
    border: none;
    background-color: #2f2d2d;
    color: #fff;
}

.btn:after {
    display: none;
}

#main-menu {
    min-height: 100px;
}

#main-menu.affix {
    padding-top: 0;
}

.navbar-nav > li.open > .dropdown-menu, .open .dropdown-menu {
    border: none;
    border-radius: 3px;
    top: 110px;
}

.dropdown-menu > li > a {
    color: #000;
}

.dropdown-menu > li > a:hover {
    color: #565454;
}

#main-slider .tp-bullets.preview2 .bullet {
    margin-right: 10px !important;
}

#main-slider .tp-bullets.preview2 .bullet:hover, #main-slider .tp-bullets.preview2 .bullet.selected {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.5) !important;;
    width: 6px !important;
    height: 6px !important;
    border: none;
}

.form-control:focus {
    border-color: rgba(177, 138, 191, 0.8);
    box-shadow: 0 1px 1px rgba(177, 138, 191, 0.075) inset, 0 0 8px rgba(177, 138, 191, 0.6);
    outline: 0 none;
}

.widget-carlos-social-icons ul li a:hover {
    background-color: rgba(177, 138, 191, 1);
}

.widget-carlos-social-icons ul li a {
    padding: 5px 8px;
}

.contscts.btn.btn-primary {
    border-radius: 2px;
    background: #b28abf !important;
    border-color: #b28abf !important;
}

.contacts.btn.btn-primary, .send-message.btn.btn-primary {
    background: #b28abf !important;
    border-color: #b28abf !important;
    border-radius: 2px;
}

.contacts.btn.btn-primary:hover, .send-message.btn.btn-primary:hover {
    background: #8781bd !important;
    border-color: #8781bd !important;
    border-radius: 2px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #fff;
    color: #000;
}

.navbar-inverse .navbar-nav > li > a.active .underline {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.health .logos li span,
.education .logos li span,
.culture .logos li span,
.logos span {
    display: block;
    color: #fff;
    margin: 20px 0 30px;
    font-weight: bold;
    font-size: 16px;
}

.health .logos li:nth-child(3) span,
.education .logos li:nth-child(3) span,
.culture .logos li:nth-child(3) span {
    margin-bottom: 0;
}

.health-news .section-title h1,
.education-news .section-title h1,
.culture-news .section-title h1 {
    margin-top: 40px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-width: 2px;
    border-color: rgba(233, 65, 77, 1);
}

article img {
    max-width: 100%;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-header {
    position: relative;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 15px;
    height: 1px;
    border-radius: 1px;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #000;
    background-color: transparent;
}

.widget.widget-newsletter h3 {
    margin-bottom: 20px;
}

.date span.month {
    margin-top: 17px;
}

.main-donate-text h2 {
    text-align: right;
    margin: 0;
    line-height: 48px;
    font-size: 40px;
}

.padding {
    padding: 35px 0;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-mobile-rows {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 6px;
}

.page-block {
    padding-top: 75px;
}

.page-block .description-text {
    display: table;
}

.page-block .description-text .description {
    display: table-cell;
    vertical-align: middle;
}

.page-block .title {
    margin-bottom: 21px;
    font-family: 'rubik_medium';
    font-size: 38px;
    line-height: 39px;
}

body .page-block .title.small {
    font-size: 30px;
}

.page-block .sub-title {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 28px;
}

#main-about .description-media {
    position: relative;
}

#main-about .description-media .media {
    max-width: 554px;
    padding-left: 34px;
    position: relative;
    float: right;
}

#main-about .description-media .media img {
    max-width: 100%;
    max-height: 100%;
}

#main-about .description-media .media:after {
    content: "";
    width: 40%;
    height: 73%;
    border: 3px solid #2DCFD5;
    position: absolute;
    bottom: 3%;
    left: 0;
    display: block;
    z-index: -1;
}

#owner-info .description-media {
    position: relative;
}

#owner-info .description-media .media {
    max-width: 275px;
    padding-left: 34px;
    position: relative;
    float: left;
    margin-left: 40px;
}

#owner-info .description-media .media img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 30px;
}

#owner-info .description-media .media:after {
    content: "";
    width: 55%;
    height: 55%;
    border: 3px solid #2DCFD5;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    z-index: -1;
}

#owner-info .owner-data {
    margin-left: 35px;
    float: left;
    display: table;
    min-height: 275px;
}

#owner-info .owner-data .owner-data-vertical {
    display: table-cell;
    vertical-align: middle;
}

#owner-info .owner-data .name {
    font-family: 'rubik_medium';
    color: #000;
    font-size: 30px;
}

#owner-info .owner-data .position {
    font-family: 'rubik_regular';
    color: #000;
    font-size: 18px;
}

.button-order {
    padding: 14px 19px;
    text-transform: uppercase;
    font-family: 'rubik_medium';
    color: #fff;
    background-color: #e9414d;
    display: inline-block;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid #e9414d;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.button-order:hover {
    color: #e9414d;
    background-color: #fff;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.portfolio-examples {
    margin-bottom: 45px;
}

.portfolio-examples:after {
    content: "";
    width: 40%;
    height: 90%;
    border: 3px solid #2DCFD5;
    position: absolute;
    bottom: -7%;
    left: 0;
    right: 52px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: -1;
}

.portfolio-item {
    box-shadow: 0 5px 21px #e4e4e4;
}

.portfolio-item .portfolio-media {
    height: 380px;
    overflow: hidden;
    margin-bottom: 0;
}

.portfolio-item .portfolio-text {
    padding: 25px;
    background-color: #fff;
    min-height: 166px;
}

.portfolio-item .portfolio-text a.title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 17px;
    font-family: 'rubik_medium';
    color: #000;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.portfolio-item .portfolio-text a.title:hover {
    color: #e9414d;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

footer a.phone-number:hover {
    opacity: 0.8;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.portfolio-item .portfolio-text .description {
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
}

.portfolio-text .header {
    height: 135px;
    text-align: center;
    border-bottom: 3px solid #EA3F4D;
    color: #000;
    padding-top: 15px;
}

#clients-info .portfolio-text {
    padding: 0;
}

#clients-info .list ul {
    padding: 30px 50px 0 35px;
    list-style: none;
}

#clients-info .list ul li {
    padding-bottom: 25px;
    font-size: 18px;
    font-family: 'rubik_regular';
    line-height: 28px;
    padding-left: 27px;
}

#clients-info .list ul li:before {
    content: "•";
    padding-right: 24px;
    color: #EA3F4D;
    height: 51px;
    margin-left: -31px;
}

.portfolio-text .header .title {
    font-size: 24px;
    line-height: 65px;
    font-family: 'rubik_medium';
    margin-bottom: 0;
}

.portfolio-text .header .description {
    font-size: 18px;
    line-height: 19px;
    font-family: 'rubik_regular';
}

#main-works .portfolio-item:first-child {
    margin-right: 52px !important;
}

#main-works .description-text {
    margin-bottom: 40px;
    float: right;
}

#clients-info .description-text {
    margin-bottom: 40px;
}

#clients-info .portfolio-item {
    margin-left: 52px !important;
    min-height: 540px;
    background-color: #fff;
}

#clients-info .portfolio-examples:after {
    position: absolute;
    bottom: -7%;
    right: 0;
    left: 52px;
}

#partners {
    padding-bottom: 0;
    overflow: hidden;
}

#partners.page-block .title {
    margin-bottom: 25px;
    font-family: 'rubik_medium';
    font-size: 30px;
    line-height: 24px;
    text-align: center;
}

#partners.page-block .description {
    margin: 0 auto 50px;
    font-size: 18px;
    line-height: 28px;
    font-family: 'rubik_regular';
    max-width: 550px;
    text-align: center;
}

.portfolio-page#clients-info .portfolio-examples:after,
.portfolio-page#projects .portfolio-examples:after {
    display: none;
}

.portfolio-page#clients-info .portfolio-item, #clients-info .portfolio-item.item-full {
    width: 100%;
}

.portfolio-page#projects .portfolio-item {
    margin-bottom: 40px;
}

.portfolio-page#clients-info .portfolio-text {
    padding: 25px;
}

.portfolio-page .portfolio-item .portfolio-text .description {
    margin-top: 10px;
}

.portfolio-item .portfolio-text .date {
    font-size: 18px;
    line-height: 25px;
    color: #e9414d;
    font-family: 'rubik_medium';
    margin-top: 10px;
    float: none;
    border-bottom: none;
    margin-bottom: 0;
}

.sidebar-right-fixed {
    width: 370px;
    position: fixed;
    z-index: 1;
    top: 180px;
    right: -770px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    overflow-x: hidden;
}

#portfolio-item-page .sidebar-right-fixed-bottom-big {
    top: 243px !important;
}

#portfolio-item-page .sidebar-right-fixed .portfolio-item {
    margin-top: 12px;
}

#portfolio-item-pagearticle {
    padding-top: 17px;
}

#blog-page .sidebar-right-fixed-bottom-big {
    top: 12px !important;
}

.sidebar-right-fixed-bottom-small {
    top: -12px !important;
}

.sidebar-right-fixed h2, 
.content-left-fixed h2 {
    margin-bottom: 15px;
    font-family: 'rubik_medium';
    font-size: 30px;
    line-height: 45px;
    margin-top: 0;
    padding-left: 12px;
    font-weight: 300;
}

.sidebar-right-fixed time, 
.content-left-fixed time {
    font-size: 18px;
    line-height: 25px;
    color: #e9414d;
    font-family: 'rubik_medium';
    border-bottom: none;
    margin-bottom: 0;
    display: block;
    padding-left: 12px;
}

.sidebar-right-fixed .description, 
.content-left-fixed .description {
    font-size: 18px;
    line-height: 28px;
    padding-left: 12px;
    margin: 20px 0 35px;
}

.content-left-fixed h2, 
.content-left-fixed time, 
.content-left-fixed .description {
    padding-left: 0;
}

.sidebar-right-fixed .portfolio-item {
    width: 94%;
    margin-left: 11px;
    margin-bottom: 15px;
    box-shadow: 0 0px 21px #e4e4e4;
}

.sidebar-right-fixed .portfolio-item {
    text-align: center;
}

.sidebar-right-fixed .portfolio-item .portfolio-text .title {
    display: block;
}

#blog-page .sidebar-right-fixed h2 {
    margin-bottom: 0;
}

#blog-page .sidebar-right-fixed .description {
    margin-top: 10px;
}

#blog-page .sidebar-right-fixed h2,
#blog-page .sidebar-right-fixed .description {
    padding-left: 0;
    font-weight: 300;
}

#blog-page .sidebar-right-fixed {
    width: 420px;
    position: fixed;
    z-index: 1;
    top: 180px;
    right: -720px;
}

.content-left-fixed img {
    margin-bottom: 40px;
    width: 715px;
}

.content-left-fixed {
    font-size: 28px; /* Increased text to enable scrolling */
}

#clients-info.clients-page .title {
    line-height: 57px;
    margin-bottom: 80px;
}

#clients-info .timeline-body {
    padding-left: 50px;
    position: relative;
}

#clients-info .timeline .number {
    font-family: 'rubik_medium';
    font-size: 34px;
    line-height: 38px;
    position: absolute;
    left: 0;
}

#clients-info .timeline h2 {
    font-family: 'rubik_medium';
    font-size: 24px;
    margin: 0 0 30px 0;
    line-height: 34px;
    font-weight: 300;
}

#clients-info .timeline p {
    font-family: 'rubik_regular';
    font-size: 18px;
    line-height: 26px;
    padding: 0;
}

#clients-info .timeline .timeline-badge:nth-child(1) {
    top: -4px;
}

.timeline > li:nth-child(2) {
    margin-top: 195px;
}

.timeline > li:nth-child(3) {
    margin-top: 130px;
}

.timeline > li:nth-child(5) {
    margin-top: 160px;
}

.timeline > li:nth-child(4) {
    margin-top: 290px;
}

.timeline > li:nth-child(6) {
    margin-top: 190px;
}

.timeline > li:nth-child(7) {
    margin-top: 190px;
}

.timeline > li:nth-child(8) {
    margin-top: 210px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    padding-left: 60px;
    padding-right: 0;
}

.timeline > li > .timeline-panel {
    padding-right: 60px;
}

.timeline:before {
    bottom: 225px;
    top: 25px;
}

#clients-info.clients-page .button-order-container {
    text-align: right;
}

.form-control {
    border: none;
    border-bottom: 3px solid #F5F5F6;
    font-size: 18px;
    border-radius: 0 !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: rgb(209, 209, 212);
}

#feedback-text {
    padding: 15px;
    border: 3px solid #F5F5F6;
    margin: 40px 0;
}

#clients-info .portfolio-item.main-page .header {
    display: table;
    width: 100%;
    padding: 0;
}

#clients-info .portfolio-item.main-page .title {
    display: table-cell;
    vertical-align: middle;
}

.contact-form.contact-form-full #feedback-text {
    margin-top: 16px;
    height: 200px;
}

.contact-form.contact-form-full .form-sub-title {
    margin-bottom: 45px;
}

#clients-info.clients-page-form-full .portfolio-examples:after {
    display: none;
}

#clients-info.clients-page-form-full .portfolio-item.item-full {
    margin-left: 35px !important;
    min-height: 891px;
}

.contact-form {
    box-shadow: 0 5px 21px #e4e4e4;
    padding: 40px;
    margin-bottom: 55px;
    width: calc(50% - 35px);
    margin-right: 35px;
}

.contact-form .form-title, .address-block .address-block-title {
    font-family: 'rubik_medium';
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 15px;
}

.contact-form .form-sub-title {
    font-family: 'rubik_regular';
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 25px;
}

.contact-form .button-order-container {
    text-align: center;
}

#map-canvas {
    height: 285px;
}

.address-block {
    padding: 0;
    box-shadow: 0 5px 21px #e4e4e4;
    width: calc(50% - 35px);
    margin-left: 35px;
}

.address-block .address-block-title {
    margin-bottom: 40px;
    padding-top: 40px;
}

.graphic {
    padding: 0 40px 0;
    margin-bottom: 40px;
    text-align: left;
    font-family: 'rubik_regular';
    font-size: 18px;
    line-height: 26px;
}

.graphic .item {
    padding-left: 55px;
    position: relative;
}

.graphic .item .divider {
    height: 25px;
}

.graphic .item .point {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    background: url(/app/media/img/place.svg) no-repeat;
    background-size: 30px 30px;
}

.graphic .item .point.time {
    background: url(/app/media/img/time.svg) no-repeat;
    background-size: 30px 30px;
}

.bx-prev img, .bx-next img {
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
    height: 43px;
    width: 22px;
}

.bx-prev img:hover, .bx-next img:hover {
    opacity: 0;
}

.bx-wrapper {
    margin-bottom: 40px;
}

.bx-wrapper .bx-prev {
    left: 15px;
}

.bx-wrapper .bx-next {
    right: 15px;
}

.bx-controls-direction .bx-prev {
    height: 43px !important;
    width: 22px !important;
    background: url(/app/media/img/arrow_standby.svg) no-repeat !important;
    background-size: 22px 43px !important;
    color: transparent;
}

.bx-controls-direction .bx-next {
    height: 43px !important;
    width: 22px !important;
    background: url(/app/media/img/arrow_standby.svg) no-repeat !important;
    background-size: 22px 43px !important;
    color: transparent;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.bx-wrapper .bx-viewport {
    height: 170px !important;
}

.bx-wrapper .bx-pager {
    display: none;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    z-index: 1;
}

.bx-default-pager {
    position: absolute;
    bottom: -4px;
    right: 0;
}

.slider-1 li {
    position: relative;
    height: 100px;
    width: 1170px;
}

.bx-wrapper .slider-1 img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logos.big {
    margin-bottom: 60px;
}

#blog-page iframe {
    max-width: 658px !important;
}

article {
    margin-bottom: 0;
    float: none;
}

footer {
    min-height: 170px;
    background-color: #2DCFD5;
}

footer .rights {
    font-size: 18px;
    line-height: 170px;
    font-family: 'rubik_medium';
    color: #fff;
    text-align: right;
}

footer .footer-logo {
    height: 170px;
    position: relative;
}

footer .footer-logo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

footer .socials {
    position: relative;
    height: 170px;
}

footer .socials-block {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
}

footer .social-icon:first-child {
    margin-right: 5px;
}

footer .social-icon {
    height: 30px;
    width: 30px;
    float: left;
    margin-right: 15px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

footer a.social-icon:hover img {
    opacity: 0.8;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

footer .phone-number {
    font-size: 18px;
    line-height: 30px;
    font-family: 'rubik_medium';
    color: #fff;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.page-block .sidebar-right-fixed .title {
    font-size: 24px;
    margin-bottom: 16px;
}

@media (max-width: 1199px) {
    #owner-info .description-media, #owner-info .description-text {
        width: 100%;
    }

    #owner-info .owner-media-layout {
        margin: 0 auto;
    }

    .content-left-fixed img {
        max-width: 615px;
    }

    .sidebar-right-fixed, #blog-page .sidebar-right-fixed {
        width: 270px;
        position: fixed;
        right: -670px;
        left: 0;
    }

    .page-block .sidebar-right-fixed .title {
        font-size: 21px;
    }

    .sidebar-right-fixed h2,
    .sidebar-right-fixed time,
    .sidebar-right-fixed .description {
        padding-left: 0;
    }

    #blog-page .content-left {
        max-width: 590px;
    }
}

@media (min-width: 1200px) {
    #owner-info .sub-title {
        margin-bottom: 0;
    }

    #owner-info.page-block .description-text {
        height: 275px;
    }
}

@media (min-width: 992px) {
    .contact-form.contact-form-full .col-md-6:first-child {
        padding-right: 25px !important;
    }

    .contact-form.contact-form-full .col-md-6:last-child {
        padding-left: 25px !important;
    }

    .portfolio-page#projects .portfolio-item {
        width: calc(33.3% - 27px);
    }

    .portfolio-page#projects .portfolio-item:nth-child(3n + 2) {
        margin-left: 40px;
        margin-right: 40px;
    }

    #main-about .description-text {
        height: 385px;
    }

    #main-works .description-text, #clients-info .description-text {
        height: 538px;
        margin-bottom: 0;
    }

    footer .social-icon-pack {
        float: left;
    }
}

@media (max-width: 991px) {
    .form-control {
        font-size: 16px;
    }

    .contact-form.contact-form-full {
        margin-bottom: 40px;
        padding: 40px 16px;
    }

    .portfolio-examples,
    .content-left-fixed img:last-child,
    #blog-page .content-left iframe:last-child {
        margin-bottom: 0;
    }

    .page-block .title {
        font-size: 24px;
        line-height: 19px;
    }

    .page-block .sub-title,
    #partners.page-block .description,
    #clients-info .list ul li,
    .portfolio-item .portfolio-text .description,
    #owner-info .owner-data .position,
    .graphic,
    #clients-info .timeline p {
        font-size: 16px;
        line-height: 23px;
    }

    .address-block, .contact-form {
        width: 100%;
    }

    .address-block {
        margin-left: 0;
    }

    .contact-form {
        margin-right: 0;
    }

    .portfolio-page#projects .portfolio-item {
        width: 100%;
    }

    #clients-info .portfolio-examples:after {
        position: absolute;
        bottom: -7%;
        right: 0;
        left: 0;
    }

    .portfolio-item {
        width: calc(50% - 26px);
    }

    #clients-info .portfolio-item:first-child {
        margin-left: 0 !important;
    }

    #main-about .description-media .media {
        max-width: 100%;
        margin-top: 40px;
    }

    #clients-info.clients-page .button-order-container {
        margin-bottom: 35px;
    }

    #clients-info.clients-page .button-order-container,
    .page-block .button-order-container {
        text-align: center;
    }

    #clients-info.clients-page .title {
        margin-bottom: 35px;
    }

    .content-left-fixed img {
        width: 100%;
        max-width: 100%;
    }

    #blog-page .content-left {
        max-width: 100%;
    }

    #blog-page iframe {
        margin: 0 auto 24px !important;
    }

    #blog-page.page-block .button-order-container {
        text-align: left;
    }

    #blog-page .sidebar-right-fixed {
        margin-bottom: 40px;
    }

    .sidebar-right-fixed, #blog-page .sidebar-right-fixed {
        position: unset;
        width: 100%;
    }

    .sidebar-right-fixed h2,
    .sidebar-right-fixed time,
    .sidebar-right-fixed .description {
        padding-left: 0;
    }

    .sidebar-right-fixed .portfolio-item {
        max-width: 520px;
        margin: 0 auto 60px !important;
    }

    .content-left-fixed .project-info-page-description {
        max-width: 520px;
        margin: 0 auto;
    }

    footer {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    footer .rights {
        text-align: center;
        line-height: 40px;
        margin-top: 100px;
    }

    footer .footer-logo {
        height: 60px;
        margin-top: -115px;
    }

    footer .socials {
        height: 110px;
    }

    footer .socials-block {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 55px;
    }

    footer .social-icon-pack {
        display: block;
        height: 30px;
        width: 80px;
        margin: 0 auto;
    }

    footer .phone-number {
        display: block;
        text-align: center;
        margin-top: 20px;
    }

    #clients-info.clients-page-form-full .portfolio-item.item-full {
        margin-left: 0 !important;
        margin-bottom: 40px !important;
    }

    #clients-info.clients-page-form-full .portfolio-item.item-full .title, .address-block .address-block-title {
        font-family: 'rubik_medium';
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .contact-form {
        padding: 40px 16px;
    }
    
    .graphic {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 767px) {
    .navbar-inverse {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .logos.big {
        display: none;
    }

    #partners.page-block .description {
        margin-bottom: 30px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #302f31;
        background-color: transparent;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .navbar-brand img {
        padding-left: 15px;
    }

    .container > .navbar-header {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .navbar-inverse .navbar-nav > li > a {
        display: block;
        text-align: center;
    }

    .navbar-nav > li > a {
        margin: 0;
        display: inline-block;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #000;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        margin-top: 0;
    }

    .timeline > li.timeline-inverted > .timeline-panel,
    .timeline > li > .timeline-panel {
        padding-left: 10px;
    }

    .timeline > li {
        margin-top: 30px !important;
    }

    .timeline > li:nth-child(1) {
        margin-top: 0 !important;
    }

    #clients-info .timeline .number {
        position: unset;
    }

    #clients-info .timeline-body {
        padding-left: 0;
    }

    #main-menu {
        min-height: 60px;
    }

    #main-menu .navbar-brand {
        height: 60px;
    }

    .navbar-brand img {
        height: 30px;
    }
}

@media (min-width: 768px) {
    .slider-1, .bx-wrapper {
        display: none;
    }

    .navbar-inverse .navbar-nav li:last-child a {
        padding-right: 0;
    }

    .partners-main .logos li {
        width: 20%;
        display: inline-block;
        margin: -2px;
        padding: 15px;
        margin-bottom: 10px;
    }

    .dropdown-menu:before {
        top: -10px;
    }

    li.active:before {
        border-bottom: 11px solid rgb(233, 65, 77);
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        width: 22px;
    }

    li.active:after {
        border-bottom: 8px solid #FFFFFF;
        border-left: 8px solid rgba(255, 0, 0, 0);
        border-right: 8px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        width: 16px;
    }

    .navbar-inverse .navbar-nav li.last.active:before {
        position: absolute;
        right: -15px;
        left: 0;
    }

    .navbar-inverse .navbar-nav li.last.active:after {
        position: absolute;
        right: -15px;
        left: 0;
    }
}

@media (max-width: 636px) {
    #clients-info .portfolio-item.main-page:first-child {
        margin-bottom: 0;
    }

    .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: calc(50% - 10px);
    }

    .bx-wrapper .bx-viewport {
        height: 140px !important;
    }

    #partners .logos {
        margin-top: 20px;
    }

    .cta.style-one .btn {
        margin-top: 27px;
    }

    #main-works .portfolio-item, #clients-info .portfolio-item {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #clients-info .portfolio-examples:after {
        position: absolute;
        bottom: -4% !important;
        right: 0;
        left: 0;
    }

    #main-about .description-media .media:after {
        bottom: 2%;
    }

    .page-block {
        padding-top: 40px;
    }

    .portfolio-examples:after {
        content: "";
        width: 40%;
        height: 90%;
        border: 3px solid #2DCFD5;
        position: absolute;
        bottom: -4%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        z-index: -1;
    }

    #main-works .portfolio-item:first-child, #clients-info .portfolio-item {
        margin-bottom: 40px;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #main-works .description-text, #clients-info .description-text {
        margin-bottom: 65px;
    }

    #main-works.page-block .sub-title, #clients-info.page-block .sub-title {
        margin-bottom: 60px;
    }

    #owner-info .description-media .media img {
        margin-bottom: 0;
        margin-top: 0;
    }

    #owner-info .description-media .media {
        padding-left: 0;
    }

    #owner-info .description-media .media:after {
        display: none;
    }
}

@media (min-width: 637px) {
    .portfolio-item {
        width: calc(50% - 52px);
    }

    #clients-info .portfolio-examples {
        display: flex;
    }
}

@media (max-width: 624px) {
    #clients-info.clients-page .title {
        line-height: 30px;
    }

    #owner-info .description-media .media {
        margin: 0 auto;
        display: block;
        float: none;
    }

    #owner-info .owner-data {
        float: none;
        display: block;
        text-align: center;
        margin: 0;
        min-height: 0;
    }

    #owner-info .owner-data .owner-data-vertical {
        display: block;
    }

    #owner-info .description-media .media:after {
        position: absolute;
        top: 0;
    }

    #owner-info .owner-data .name {
        margin-top: 25px;
        margin-bottom: 0;
        font-size: 24px;
    }
}

::-moz-selection {
    color: #fff;
    background: rgb(233, 65, 77);
}

::selection {
    color: #fff;
    background: rgb(233, 65, 77);
}